.carousel-indicators,
.carousel-indicators li {
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

strong {
    font-weight: 600;
}

.headline h3,
.headline p {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 40px;
}

.headline h3 {
    font-weight: bold;
    font-size: 22px;
    color: rgba(0, 51, 160);
}

h1 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    font-size: 38px;
    font-weight: 300;
    color: #555;
    line-height: 50px;
    font-style: italic;
    text-align: center;
}

.brand-tiger {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin-top: 1px;
    background-image: url(../../../assets/img/blank.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
}

.logo-row {
    margin-top: 20px;
    height: 347px;
}

.my-card {
    margin: 50px 15px 40px 15px;
    left: 7%;
}

.card-img-top,
.card-body {
    width: 100%;
    height: 13vw;
    object-fit: cover;
}

.dropzone {
    width: 450px;
    height: 290px;
    padding: 1rem;
    text-align: center;
    border: inset 3px;
    border-color: rgba(37, 133, 167);
    position: relative;
    margin: 0 auto;
}

.upload-img {
    margin-top: 15px;
    display: inline-block;
    width: 120px;
    height: 120px;
    background-image: url(../../../assets/ico/camera_up.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.loading {
    text-align: center;
    padding: 2%;
}

h4 {
    color: rgb(172, 39, 32);
}

.close:focus {
    outline: none;
}

.modal-header {
    padding: 7px 15px;
    background: rgba(0, 51, 160);
    color: white;
}

.modal-footer {
    padding: 0px;
}

.carousel-control-prev-icon {
    background-image: url(../../../assets/ico/Left.png);
    margin-right: 120px;
    opacity: 0;
}

.carousel-control-next-icon {
    background-image: url(../../../assets/ico/Right.png);
    margin-left: 120px;
    opacity: 0;
}