<footer>
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <a href="index.html">
                <div class="brand-logo"></div>
            </a>
            <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Faq</a>
            </p>
            <p class="company-name">Copyright © 2020. Todos los derechos </p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p><span class="new-line-span">Cl. 00 #99A-99</span> Bogotá, Colombia</p>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left"> 01 8000 11 322134</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="#" target="_blank">support@support.com</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h4>Acerca de la Aseguradora</h4>
            <p> Empresa orientada a los seguros
            </p>
        </div>
    </div>
</footer>